.messagesContainer {
  height: 100%;

  .avatar {
    background: orange;
  }

  .list {
    background: #f1f1f1;
    border-radius: 8px;
    width: 100%;
  }

  .message {
    padding: 0;

    .messageListContainer {
      padding: 1rem;
    }

    .messageTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;

      span {
        font-size: 0.7rem;
        font-style: italic;
        font-weight: 300;
        margin-left: 2rem;
      }
    }
  }

  .messageDetail {
    font-size: 2rem;
    margin: 1rem;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
      margin-bottom: 2rem;

      .details {
        display: flex;
        align-items: center;

        .avatar {
          width: 50px;
          height: 50px;
          margin-right: 1rem;
        }

        span {
          font-weight: bold;
        }
      }

      span {
        font-style: italic;
        font-weight: 100;
      }
    }

    p {
      font-size: 1rem;
      margin: 1rem;
    }
  }

  .noMessage {
    display: flex;
    flex-direction: column;

    img {
      width: 100px;
    }

    div {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
}
